$light-yellow: #FEF6DD;
$yellow: #FFE48D;
$light-orange: #F4C040;
$orange: #EDA72B;
$black: #333333;

@font-face {
	font-family: Avenir-Next;
	src: url("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
	font-weight: 300;
}

body{
	font-family: Avenir-Next;
	background-color: $light-yellow;
	color: $black;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 48px;
	font-weight: 300;
}

h2{
	font-size: 30px;
}

p{
	font-size: 20px;
	line-height: 1.4;
}

.small{
	font-size: 18px;
}

.container{
	width: 1100px;
	display: block;
	margin: auto;
}

.quote{
	font-size: 48px;
	text-align: center;
}