$light-yellow: #FEF6DD;
$yellow: #FFE48D;
$light-orange: #F4C040;
$orange: #EDA72B;
$black: #333333;

@font-face {
	font-family: Avenir-Next;
	src: url("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
	font-weight: 300;
}

body{
	font-family: Avenir-Next;
	background-color: $light-yellow;
	color: $black;
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
}

h1{
	font-size: 48px;
	font-weight: 300;
}

h2{
	font-size: 30px;
}

p{
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
}

.small{
	font-size: 18px;
}

.yellow-bg{
	background-color: $yellow;
}

.container{
	width: 1100px;
	display: block;
	margin: auto;
}

header{
	background-color: $light-yellow;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 5;
	.wrapper{
		padding: 0.5vw 2vw 0.5vw 1vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

nav{
	display: flex;
	a{
		color: $black;
		text-decoration: none;
		margin-left: 3vw;
	}
}

.hamburger {
	position: fixed;
	right: 4vw;
	top: 20px;
	width: 40px;
	height: 40px;
	mask-image: url('hamburger.svg');
	mask-size: contain;
	mask-repeat: no-repeat;
	background-color: $black;
	z-index: 6;
}

.close {
	position: fixed;
	right: 10vw;
	top: 4vh;
	font-size: 48px;
	z-index: 8;
}

.ReactModal__Overlay {
	z-index: 8;
}

.mobile-menu {
	display: none;
}

.nav-links {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80vw;
	margin: auto;

	.nav-item {
		margin: 14px 0;
	}

	a {
		font-size: 30px;
		text-decoration: none;
		color: $black;
		margin: 14px 0;
		width: 100%;
		border-bottom: 1px solid $black;
	}
}

.logo{
	width: 60px;
	height: 60px;
	img{
		width: 60px;
		height: 60px;
	}
}

section {
	padding: 0 4vw;
	width: 92vw;
	margin: 124px 0;
}

.quote {
	font-size: 48px;
	padding: 48px 0;
	text-align: center;
}

.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.image{
		width: 40%;
		img{
			border-radius: 25px;
			width: 100%;
			height: auto;
		}
	}
	.text{
		width: 45%;
		h1{
			border-bottom: 1px solid $black;
		}
	}
}

.read-more{
	position: relative;
	margin: 30px 0;
	a{
		position: relative;
		text-decoration: none;
		color: $black;
	}
	.bg{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $orange;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
}

.double-image{
	width: 50%;
	height: 100%;
	min-height: 500px;
	position: relative;
	.image1{
		bottom: 0;
		width: 70%;
		left: 0;
		position: absolute;
		border-radius: 25px;
	}
	.image2 {
		width: 70%;
		top: 0;
		right: 0;
		border-radius: 25px;
		position: absolute;
	}
}